
.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e5e5;
  }

.custom-card-header {
    position: relative;
    padding: 1rem;
    margin: -2rem 0 0 0;
    z-index: 2;
}
  
.custom-header-content {
    background: linear-gradient(to right, #0f0f0f, #1a1818, #414141);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
    padding: 1.7rem 0;
}
  
.custom-header-title {
    color: #ffffff;
    text-transform: capitalize;
    padding-left: 0.75rem;
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Estilos para los graficos*/
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grafico-row {
    padding: 0 1rem;
}

.span-2 {
    grid-column: span 2;
}