
.task_container {
  transition: all 0.3s ease-in-out;
}

.task_container:hover{
  background-color: #e7dddd;
  border-radius: 0.5rem;
}

.user_info {
    display: flex;
    justify-content: flex-start;
    padding: 0.25rem 0.5rem;
  }
  
.avatar {
    border: 2px solid #e2e8f0;
    width: 36px;
    height: 36px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50rem;
    transition: all 0.2s ease-in-out;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
.user_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.user_name {
    font-size: 0.875rem;
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: #2d3748;
  }
  
.user_email {
    font-size: 0.75rem;
    line-height: 1.25;
    color: #718096;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
  
.group_name {
    text-align: left;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.25;
    color: #718096;
    margin: 0;
  }
  
.group_role {
  text-align: left;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.25;
  color: #718096;
  margin: 0;
  }

.other_info {
  text-align: left !important;
  font-size: 0.85rem !important;
  font-weight: 400 !important;
  line-height: 1.25;
  color: #737373;
  margin: 0;
}