
.home-container {
    width: 100%;
    padding: 1rem 2rem;
  }
  
  .header-row {
    margin-bottom: 1rem;
  }
  
  .header-content {
    margin-left: 1rem;
  }
  
  .header-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-description {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
  }
  
  .groups-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }