
.grupos-container {
  height: 100vh;
}
  
.card {
  background-color: #ffffff;
}

.groups-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0 1rem;
  padding: 1rem;
}