.sidenav {
    width: 16rem; /* 256px */
    min-width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0.5rem;
    z-index: 100;
}

.collapse {
    width: 100%;
  }
  
.navbar_nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
.nav_link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
.nav_link:hover {
    background-color: #f0f0f0;
  }
  
.active {
    background-image: linear-gradient(to right, #0f0f0f, #1a1818, #414141);
    color: white;
  }

.nav_link i {
    margin-left: 5px;
    font-size: 1.1rem;
    opacity: 0.6;
  }

.nav_link_text {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }
  
.section_title h6 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    margin: 1rem 0 0.5rem 1rem;
    opacity: 0.6;
  }

/* Oculta o colapsa sidebar en pantallas pequeñas */
@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
}